@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
}
.btn{
    display: inline-block;
}

.border{
    border: 2px solid black;
}

.padding{
    padding: 10px 20px;
}

.black{
    color:black;
    font-weight: bold;
}

.dashed{
    border: dashed;
}

.radius{
    border-radius: 20px;
}

.radius-5px{
    border-radius: 5px;
}

.radius-0px-10px{
    border-radius: 0px 10px 0 10px;
}

.bg-green{
    background-color: #61FF7B;
}

.bg-blue {
    background-color: #1398A0;
}

.white{
    color: white;
}

a{
    text-decoration: none;
}


.btne{
    font-family: "Inter", sans-serif;
    display: inline-block;
    padding: 16px 32px;
    text-decoration: none;
}

.bolde{
    font-weight: 700;
}

.blacke{
    color: black;
}

.whites {
    color: white;
}

.fond-vert {
  background-color: #61FF7B;  
}

.fond-bleu {
    background-color: #1398A0;
}

.gellule {
    border-radius: 400px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-0-32 {
    border-radius: 0px 32px;
}

.border-solid-black{
    border: solid black 1px;
}

.border-dashed-black {
    border: dashed 2px black;
}

